.faq__section {
  padding-bottom: 35px;
  text-align: center;
}
.faq__title {
  margin-bottom: 30px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  /* Text / Title */

  color: #111563;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 38px;
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.faq__list {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.faq__item {
  cursor: pointer;
  background-color: #ffffff;
  /* shw-1 */

  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 8px;
  padding: 20px 20px 10px 20px;
}
.item__hat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.hat__title {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  /* Text / Title */
  margin-right: 15px;
  color: #111563;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 30px;
  }
}
.faq__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  text-align: left;
  /* Text / paragraph */

  color: #63718e;

  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #f0f4fd;
}
.text__wrapp {
  max-height: 0;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.faq__item.open__spoiler .text__wrapp {
  max-height: 300px;
}
.fa-chevron-down {
  transition: 0.9s ease-in-out;
}
.faq__item.open__spoiler .fa-chevron-down {
  transform: rotate(-180deg);
}
.faq__button {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */
  padding: 20px 30px;
  color: #ffffff;
  background-color: #c774ee;
  border-radius: 10px;
  border: none;
}
