.header__section {
  padding: 12px 0;
  background-color: #fff;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__activ {
  width: 100%;
  z-index: 10;
  position: fixed;
  transition: position;
}
.logo {
  z-index: 11;
  & span {
    display: inline-block;
    width: 16px;
    height: 15px;
    border-radius: 50%;
    background-color: #c774ee;
  }
  & a {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 46px;
    color: #423d59;
  }
}

.menu__burger {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 3px;
  position: relative;
  width: 36px;
  height: 36px;
  z-index: 11;
  & span {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #63718e;
  }
  & span:nth-of-type(2) {
    position: absolute;
    top: calc(50% - 6px);
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #63718e;
  }
  & span:nth-of-type(3) {
    position: absolute;
    top: calc(50% + 6px);
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #63718e;
  }
  @media screen and (min-width: 769px) {
    display: none;
  }
}
.navigation {
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    display: none;
    flex-direction: column;
  }
}
.button__list {
  display: flex;
  margin-right: 30px;
  z-index: 11;
  @media screen and (max-width: 768px) {
    margin-right: 0;
    padding: 10px 20px;
  }
}
.button__item {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #63718e;
  z-index: 11;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}
.nav__list {
  display: flex;
  margin-right: 40px;
  z-index: 11;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
}
.nav__item {
  z-index: 11;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
  & a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #63718e;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    margin-right: 0;
    padding: 10px 20px;
  }
}
.nav__button-list {
  display: flex;
  @media screen and (max-width: 768px) {
    z-index: 11;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.nav__button-item {
  margin-right: 15px;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  & button {
    padding: 6px 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;

    border-radius: 10px;
    border: 2px solid #63718e;

    color: #63718e;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  & button:hover {
    background-color: #c774ee;
    color: #fff;
    border: 2px solid #c774ee;
  }
}

.menu__list {
  @media screen and (max-width: 768px) {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    padding-top: 10px;
    top: 70px;
    z-index: 10;
    background-color: white;
    display: flex;
    transition: 0.3s;
    overflow: auto;
    &.open {
      right: 0;
    }
    &::before {
      content: '';
      display: block;
      position: fixed;
      z-index: 11;
      width: 100%;
      height: 70px;
      background-color: white;
    }
  }
}
