.product__section {
  padding-bottom: 40px;
}
.content__block {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.content__paragraph {
  @media screen and (min-width: 1200px) {
    max-width: 582px;
    margin-right: 18px;
  }
}
.paragraph__title {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;

  /* Text / Title */

  color: #111563;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 15px;
  }
}
.paragraph__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Text / paragraph */

  color: #63718e;

  @media screen and (min-width: 768px) {
    font-size: 18px;

    margin-bottom: 45px;
  }
}
.paragraph__img {
  margin-bottom: 10px;
}
.content__items {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.content__menu {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  @media screen and (min-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
    width: 48%;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 100px;
  }
}
.menu__list {
  & > a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    /* Text / paragraph */

    color: #63718e;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 22px;
      line-height: 23px;
    }
  }
}
.active {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  /* primary / accent */

  color: #c774ee;
}
.menu__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Text / paragraph */

  color: #63718e;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}
