.product__section {
  padding-bottom: 40px;
}
.paragraph__title {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;

  /* Text / Title */

  color: #111563;

  margin-bottom: 10px;
}
.paragraph__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Text / paragraph */

  color: #63718e;
}
.paragraph__img {
  margin-bottom: 10px;
}
.content__items {
}
.content__menu {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.menu__list {
  & > a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */

    /* Text / paragraph */

    color: #63718e;
  }
}
.active {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */

  /* primary / accent */

  color: #c774ee;
}
.menu__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Text / paragraph */

  color: #63718e;
}
