.responsibilities__wrapp {
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
.responsibilities__img {
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    max-width: 50%;
    margin-left: 20px;
  }
}
.responsibilities__block {
  @media screen and (min-width: 1200px) {
    max-width: 50%;
  }
}
.responsibilities__title {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;

  /* Text / Title */

  color: #111563;

  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 38px;
  }
}
.responsibilities__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  /* Text / paragraph */

  color: #63718e;
}

.card__bg {
  position: relative;
  padding-bottom: 130px;
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 50%;
    padding-left: 40px;
  }
}

.card__responsibilities {
  position: absolute;
  top: 35px;
  padding: 30px 28px;
  max-width: 380px;
  background: #ffffff;
  /* shw-1 */

  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 8px;
  @media screen and (min-width: 768px) {
    top: 55px;
    left: 40px;
  }
  @media screen and (min-width: 1200px) {
    left: 70px;
  }
}
.title__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.card__title {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  /* Text / Title */

  color: #111563;
}
.card__img {
}
.cadr__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  /* Text / paragraph */

  color: #63718e;
}
.text__section {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */

  /* Text / paragraph */

  color: #63718e;

  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    max-width: 50%;
    margin-bottom: 0;
  }
}
.paragraf__block {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
