@font-face {
                font-family: fa;
                font-display: swap;
                src: url("../fonts/fa-brands-400.woff2") format("woff2"),
                    url("../fonts/fa-brands-400.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: fa;
                font-display: swap;
                src: url("../fonts/fa-regular-400.woff2") format("woff2"),
                    url("../fonts/fa-regular-400.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: fa;
                font-display: swap;
                src: url("../fonts/fa-solid-900.woff2") format("woff2"),
                    url("../fonts/fa-solid-900.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: fa;
                font-display: swap;
                src: url("../fonts/fa-v4compatibility.woff2") format("woff2"),
                    url("../fonts/fa-v4compatibility.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
